body
{
    background-color: #D6B443; 
    font-family: 'Montserrat', sans-serif;
    padding-right: 10px;
    padding-left: 10px;
}

#bodyin
{
    background-image: url(../imagenes/fondo21.png);
}

.contenedorin
{
    float: right;
    width: 750px;
}

.cabecerain
{
    text-align: left; 
    font: initial;
    font-family: Arial black; 
    font-weight: bold;
    font-size: 50px; 
    color: black; 
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

/**********INICIO AJUSTES MENU DESPLEGABLE*/
.menuin
{
    margin: auto;
    width: 356px;
}

.menu
{
    margin-bottom: 100px;
    width: 550px;
    padding: auto;
    position: relative;
    top: 50px; left: 500px;
}

ul/*, ol*/
{
    /*align-content: center;*/
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav li a
{
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav li a:hover
{
    background-color: #434343;
}

.nav > li
{
    float: left;
}

.nav li ul
{
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover >ul
{
    display: block;
}
/*********FIN AJUSTES MENU DESPLEGABLE*/

/*Bara de navegacion stiky*/
/**.menu-fixed
ESTA WEA ERA PARA JS PERO SE CANCELA TODO :v
{
    position:fixed;
    z-index: 100;
    width: 500px;
    top: 0;
}

.menu-fixed nav li a
{
    display: inline;
}

.menu-fixed li a
{
    background-color: rgb(0, 0, 0, .3)
}**/


/********INICIO AJUSTES PRESENTACION TEXTO GENERAL*/
.contenedor
{
    background-color: #D6B443;/*#C0AB8C;*/
    /*width: 960px;*/
    margin: 0px auto;
}

.cabecera
{
        font-size: 20px;
        color: #000;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: center;
        border-radius: 20px;
}

.cabecera > h1
{
    margin: 0px;
    padding: 30px 0px 30px 0px;
    /*font-family: 'Iceberg', cursive;*/
}

.cabecera h2
{
    margin-bottom: 0px;
}
.cabecera h3
{
    margin-top: 0px;
}

p
{
    margin-bottom: 0px;
}

.glosario li
{
    padding: 4px;
}
.glosario 
{
    font-style: italic;
}

.concepto
{
    font-weight: bold;
}

.contenido
{
    width: 960px;
    margin: auto;
    padding: 10px;
    background-color: #CFAE40;/*#C9A93F;  #D9B858;*/
    border-radius: 15px;
    text-align: justify;
}

.imagenes
{
    float: left;
    margin: 15px;
}

.opinion
{
    font-style: italic;
} 

#textoresaltado
{
    font-family: 'Cinzel', serif;
    float: right;
    width: 300px;
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    margin: 75px 40px 65px 250px;
}

#sujeto
{
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    font-style: italic;
    color: black;
}

pre
{
    max-width: 960px;
}

#disqus_thread
{
    width: 960px;
    margin:auto;
}

.subir
{
    position: fixed;
    z-index: 80;
    top: 500px; left: 50px;
}

.subir li a
{
    background-color: rgba(0, 0, 0, .3);
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    margin: 5px;
    display: block;
}

.subir li a:hover
{
    background-color: #434343;
}
/********FIN AJUSTES PRESENTACION TEXTO GENERAL*/
